html,
body {  
  transition: 0.3s;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 8px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  transform: scale(1.1)
}

* {
  box-sizing: border-box;
}
